body {
  font-size: 16px;
  line-height: 1.2em;
}

div {
  border-radius: 7px;
  font-family: Sans-serif;
}

li {
  text-indent: -5px;
}

div h4 {
  margin: 0px 0px -4px 10px;
}

#header {
  position: fixed relative;
  z-index: 1;
  text-align: center;
  background-color: gray;
  margin-top: -1em;
  margin-bottom: 10px;
  height: 3.5em;
}

.title {
  float: left;
  margin-left: 10px;
}

.name {
  float: right;
  margin-right: 10px;
}

.stuff {
  padding-top: 5px;
  padding-left: 5px;
}

.stuff p {
  padding-left: 21px;
}

.holder {
  height: 100%;
  overflow: hidden;
}

.holder div {
  background-color: #B2FFFF;
  margin-bottom: -100em;
  padding-bottom: 100em;
}

.holder .left {
  background-color: #FF9147;
}

.left {
  float: left;
  position: relative;
  width: 10%;
}

.right {
  float: right;
  position: relative;
  width: 89.25%;
  display: inline-block;
}

#footer {
  clear: both;
  position: relative;
  text-align: center;
  background-color: gray;
  height: 100%;
  margin-top: -5px;
  padding-bottom: 0px;
}

#footer p {
  position: relative;
  padding-top: 10px;
  margin-bottom: 10px;
}
