body {
  background-color: #C2C2A3;
  font-family: Sans-serif;
}

.button {
  background-color: white;
  border-radius: .4em;
  text-align: center;
  color: #387FCF;
  padding-top: .3em;
  padding-bottom: .3em;
}

.button:hover {
  background-color: #387FCF;
  color: white;
}

.gitbutton {
  width: 5em;
}

a {
  text-decoration: none;
  color: #387FCF;
}

a:hover {
  color: white;
}

ul:before{
  content:attr(data-header);
  margin-left: auto;
}

ul:before{
    content:attr(data-header);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}

footer {
  background-color: #E7E7DA;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -1em;
  padding-right: 2em;
  text-indent: 1.5em;
}
