body {
  background-color: #C2C2A3;
  font-family: Sans-serif;
  font-size: 110%;
  margin-bottom: 6em;
}

.button {
  background-color: white;
  border-radius: .4em;
  text-align: center;
  color: #387FCF;
  padding-top: .3em;
  padding-bottom: .3em;
  white-space: nowrap;
}

.button:hover {
  background-color: #387FCF;
  color: white;
}

.gitbutton {
  width: 5em;
}

a {
  text-decoration: none;
  color: #387FCF;
}

a:hover {
  color: white;
}

ul:before {
  content:attr(data-header);
  margin-left: -1.5em;
  font-weight: bold;
  white-space: nowrap;
}

footer {
  background-color: #E7E7DA;
  position: fixed;
  bottom: 0;
  height: 3em;
  width: 100%;
  margin-left: -1em;
  padding-right: 2em;
  text-indent: 1.5em;
}
